<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farm.system.dao.FarmMapper">

	<resultMap type="Farm" id="farm">
		<id property="id" column="id" />
		<result property="farmNo" column="farm_no" />
		<result property="farmName" column="farm_name" />
		<result property="identityNo" column="identify_no" />
		<result property="idType" column="id_type" />
		<result property="cityNo" column="city_no" />
		<result property="phoneNo" column="phone_no" />
		<result property="createTime" column="create_time" />
		<result property="createUser" column="create_user" />
		<result property="modifyTime" column="modify_time" />
		<result property="modifyUser" column="modify_user" />
	</resultMap>

	<sql id="objColumn">
		a.id,
		a.farm_no,
		a.farm_name,
		a.identify_no,
		a.id_type,
		a.city_no,
		a.phone_no,
		a.create_time,
		a.create_user,
		a.modify_time,
		a.modify_user
	</sql>
	<!-- 分页查询 -->
	<select id="find" parameterType="map" resultMap="farm">
		select
		<include refid="objColumn" />
		from t_farm a
		<where>
			<if test="farmNo != null">
				and a.farm_no = #{farmNo,jdbcType=VARCHAR}
			</if>
			<if test="farmName != null">
				and a.farm_name like #{farmName,jdbcType=VARCHAR}
			</if>
			<if test="phoneNo != null">
				and a.phone_no = #{phoneNo,jdbcType=VARCHAR}
			</if>
			<if test="beginD != null">
				and <![CDATA[ a.create_time >= #{beginD,jdbcType=TIMESTAMP} ]]>
			</if>
			<if test="endD != null">
				and <![CDATA[ a.create_time <= #{endD,jdbcType=TIMESTAMP} ]]>
			</if>
			<if test="identityNo != null">
				and a.identity_no = #{identityNo,jdbcType=VARCHAR}
			</if>
			<if test="idType != null">
				and a.id_type = #{idType,jdbcType=NUMERIC}
			</if>
			<if test="cityNo != null">
				and a.city_no = #{cityNo,jdbcType=VARCHAR}
			</if>
		</where>
		order by a.id asc 
		limit #{begin,jdbcType=NUMERIC} , #{size,jdbcType=NUMERIC}
	</select>

	<!-- 根据条件查询记录 -->
	<select id="list" parameterType="map" resultMap="farm">
		select
		<include refid="objColumn" />
		from t_farm a
		<where>
			<if test="farmNo != null">
				and a.farm_no = #{farmNo,jdbcType=VARCHAR}
			</if>
			<if test="farmName != null">
				and a.farm_name like #{farmName,jdbcType=VARCHAR}
			</if>
			<if test="phoneNo != null">
				and a.phone_no = #{phoneNo,jdbcType=VARCHAR}
			</if>
			<if test="beginD != null">
				and <![CDATA[ a.create_time >= #{beginD,jdbcType=TIMESTAMP} ]]>
			</if>
			<if test="endD != null">
				and <![CDATA[ a.create_time <= #{endD,jdbcType=TIMESTAMP} ]]>
			</if>
			<if test="identityNo != null">
				and a.identity_no = #{identityNo,jdbcType=VARCHAR}
			</if>
			<if test="idType != null">
				and a.id_type = #{idType,jdbcType=NUMERIC}
			</if>
			<if test="cityNo != null">
				and a.city_no = #{cityNo,jdbcType=VARCHAR}
			</if>
		</where>
		order by a.id asc
	</select>

	<!-- 根据条件查询记录条数 -->
	<select id="count" parameterType="map" resultType="Integer">
		select count(*) from t_farm a
		<where>
			<if test="farmNo != null">
				and a.farm_no = #{farmNo,jdbcType=VARCHAR}
			</if>
			<if test="farmName != null">
				and a.farm_name like #{farmName,jdbcType=VARCHAR}
			</if>
			<if test="phoneNo != null">
				and a.phone_no = #{phoneNo,jdbcType=VARCHAR}
			</if>
			<if test="beginD != null">
				and <![CDATA[ a.create_time >= #{beginD,jdbcType=TIMESTAMP} ]]>
			</if>
			<if test="endD != null">
				and <![CDATA[ a.create_time <= #{endD,jdbcType=TIMESTAMP} ]]>
			</if>
			<if test="identityNo != null">
				and a.identity_no = #{identityNo,jdbcType=VARCHAR}
			</if>
			<if test="idType != null">
				and a.id_type = #{idType,jdbcType=NUMERIC}
			</if>
			<if test="cityNo != null">
				and a.city_no = #{cityNo,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<!-- 按ID查询记录 -->
	<select id="get" resultMap="farm" parameterType="Long">
		select
		<include refid="objColumn" />
		from t_farm a
		where a.id = #{id,jdbcType=NUMERIC}
	</select>

	<select id="findByNo" resultMap="farm" parameterType="String">
		select
		<include refid="objColumn" />
		from t_farm a
		where a.farm_no = #{farmNo,jdbcType=VARCHAR}
	</select>
	
	<insert id="add" parameterType="Farm">
		insert into t_farm(
			farm_no,
			farm_name,
			identity_no,
			id_type,
			city_no,
			addr,
			phone_no,
			create_time,
			create_user,
			modify_time,
			modify_user)
		values(
		#{farmNo,jdbcType=VARCHAR},
		#{farmName,jdbcType=VARCHAR},
		#{identityNo,jdbcType=VARCHAR},
		#{idType,jdbcType=NUMERIC},
		#{cityNo,jdbcType=VARCHAR},
		#{addr,jdbcType=VARCHAR},
		#{phoneNo,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{createUser,jdbcType=VARCHAR},
		#{modifyTime,jdbcType=TIMESTAMP},
		#{modifyUser,jdbcType=VARCHAR})
	</insert>

	<update id="update" parameterType="map">
		update t_farm set 
		modify_time = current_timestamp()  
		<if test="modifyUser != null">
			,modify_user = #{modifyUser,jdbcType=VARCHAR} 
		</if>
		<if test="farmName != null">
			,farm_name = #{farmName,jdbcType=VARCHAR} 
		</if>
		<if test="identityNo != null">
			,identity_no = #{identityNo,jdbcType=VARCHAR} 
		</if>
		<if test="idType != null">
			,id_type = #{idType,jdbcType=NUMERIC} 
		</if>
		<if test="phoneNo != null">
			,phone_no = #{phoneNo,jdbcType=VARCHAR} 
		</if>
		<if test="cityNo != null">
			,city_no = #{cityNo,jdbcType=VARCHAR} 
		</if>
		where id = #{id,jdbcType=NUMERIC}
	</update>
	
	<delete id="delete" parameterType="Long">
		delete from t_farm 
		where id = #{id,jdbcType=NUMERIC}
	</delete>
	
	<!-- get all farm by userNo -->
	<select id="findByUserNo" parameterType="String" resultMap="farm">
		select
		<include refid="objColumn" />
		from t_farm a,t_user b,t_farm_user c 
		where a.farm_no = c.farm_no 
		and b.user_no = c.user_no 
		and b.user_no = #{userNo,jdbcType=VARCHAR}
		order by a.id asc
	</select>
</mapper>
