<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farm.system.dao.OperationMapper">

	<resultMap type="Operation" id="operation">
		<id property="id" column="id" />
		<result property="operNo" column="oper_no" />
		<result property="pOperNo" column="p_oper_no" />
		<result property="operName" column="oper_name" />
		<result property="urlPrefix" column="url_prefix" />
		<result property="createTime" column="create_time" />
		<result property="createUser" column="create_user" />
		<result property="modifyTime" column="modify_time" />
		<result property="modifyUser" column="modify_user" />
	</resultMap>

	<sql id="objColumn">
		a.id,
		a.oper_no,
		a.p_oper_no,
		a.oper_name,
		a.url_prefix,
		a.create_time,
		a.create_user,
		a.modify_time,
		a.modify_user
	</sql>
	<!-- 分页查询 -->
	<select id="find" parameterType="map" resultMap="operation">
		select
		<include refid="objColumn" />
		from t_operation a
		<where>
			<if test="operNo != null">
				and a.oper_no = #{operNo,jdbcType=VARCHAR}
			</if>
			<if test="operName != null">
				and a.oper_name like #{operName,jdbcType=VARCHAR}
			</if>
			<if test="pOperNo != null">
				and a.p_oper_no = #{pOperNo,jdbcType=VARCHAR}
			</if>
			<if test="beginD != null">
				and <![CDATA[ a.create_time >= #{beginD,jdbcType=TIMESTAMP} ]]>
			</if>
			<if test="endD != null">
				and <![CDATA[ a.create_time <= #{endD,jdbcType=TIMESTAMP} ]]>
			</if>
		</where>
		order by a.id asc 
		limit #{begin,jdbcType=NUMERIC} , #{size,jdbcType=NUMERIC}
	</select>

	<!-- 根据条件查询记录 -->
	<select id="list" parameterType="map" resultMap="operation">
		select
		<include refid="objColumn" />
		from t_operation a
		<where>
			<if test="operNo != null">
				and a.oper_no = #{operNo,jdbcType=VARCHAR}
			</if>
			<if test="operName != null">
				and a.oper_name like #{operName,jdbcType=VARCHAR}
			</if>
			<if test="pOperNo != null">
				and a.p_oper_no = #{pOperNo,jdbcType=VARCHAR}
			</if>
			<if test="beginD != null">
				and <![CDATA[ a.create_time >= #{beginD,jdbcType=TIMESTAMP} ]]>
			</if>
			<if test="endD != null">
				and <![CDATA[ a.create_time <= #{endD,jdbcType=TIMESTAMP} ]]>
			</if>
		</where>
		order by a.id asc
	</select>

	<!-- 根据条件查询记录条数 -->
	<select id="count" parameterType="map" resultType="Integer">
		select count(*) from t_operation a
		<where>
			<if test="operNo != null">
				and a.oper_no = #{operNo,jdbcType=VARCHAR}
			</if>
			<if test="operName != null">
				and a.oper_name like #{operName,jdbcType=VARCHAR}
			</if>
			<if test="pOperNo != null">
				and a.p_oper_no = #{pOperNo,jdbcType=VARCHAR}
			</if>
			<if test="beginD != null">
				and <![CDATA[ a.create_time >= #{beginD,jdbcType=TIMESTAMP} ]]>
			</if>
			<if test="endD != null">
				and <![CDATA[ a.create_time <= #{endD,jdbcType=TIMESTAMP} ]]>
			</if>
		</where>
	</select>

	<!-- 按ID查询记录 -->
	<select id="get" resultMap="operation" parameterType="Long">
		select
		<include refid="objColumn" />
		from t_operation a
		where a.id = #{id,jdbcType=NUMERIC}
	</select>

	<select id="findByNo" resultMap="operation" parameterType="String">
		select
		<include refid="objColumn" />
		from t_operation a
		where a.oper_no = #{operNo,jdbcType=VARCHAR}
	</select>
	
	<insert id="add" parameterType="Operation">
		insert into t_operation(
			oper_no,
			oper_name,
			p_oper_no,
			url_prefix,
			create_time,
			create_user,
			modify_time,
			modify_user)
		values(
		#{operNo,jdbcType=VARCHAR},
		#{operName,jdbcType=VARCHAR},
		#{pOperNo,jdbcType=VARCHAR},
		#{urlPrefix,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{createUser,jdbcType=VARCHAR},
		#{modifyTime,jdbcType=TIMESTAMP},
		#{modifyUser,jdbcType=VARCHAR})
	</insert>

	<update id="update" parameterType="map">
		update t_operation set 
		modify_time = current_timestamp()  
		<if test="modifyUser != null">
			,modify_user = #{modifyUser,jdbcType=VARCHAR} 
		</if>
		<if test="operName != null">
			,oper_name = #{operName,jdbcType=VARCHAR} 
		</if>
		<if test="urlPrefix != null">
			,url_prefix = #{urlPrefix,jdbcType=VARCHAR} 
		</if>
		where id = #{id,jdbcType=NUMERIC}
	</update>
	
	<delete id="delete" parameterType="Long">
		delete from t_operation 
		where id = #{id,jdbcType=NUMERIC}
	</delete>
	
	<!-- get all operation by permission no -->
	<select id="findByPermNos" parameterType="List" resultMap="operation">
		select
		<include refid="objColumn" />
		from t_operation a,t_permission_menu b 
		where a.oper_no = b.oper_no 
		and b.perm_no in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
             #{item}
        </foreach>
		order by a.id asc
	</select>
</mapper>
